<h1>Sign up form</h1>
<form action="/register" method="POST">
     <input type="text" name="username" placeholder="Name" required>
    <input type="password" name="password" placeholder="Password" required>   
    <input type="date" name="dob" placeholder="Date of Birth" required>
    <input type="email" name="email" placeholder="email" required>
    <input type="number" name="age" placeholder="age" required>
    <button type="submit">Submit</button>
  </form>
<h1>This is home page</h1>
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>